$primary-color: #3498db;

$background-color: rgb(250, 251, 255);
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);

$user-title-color: rgb(117, 117, 117);
$navigation-link-color: rgb(145, 151, 179);
$navigation-link-active: rgb(89, 50, 234);
$navigation-link-hover: rgb(89, 50, 234, 0.9);

$subtitle-color: rgb(22, 192, 152);

$input-bg-color: rgb(249, 251, 255);
$input-color: rgb(41, 45, 50);
$input-placeholder-color: rgb(181, 183, 192);

$table-width: 892px;
$table-border-color: rgb(238, 238, 238);

$status-active-color: rgb(0, 135, 103);
$status-active-border-color: rgb(0, 176, 135);
$status-active-bg-color: rgba(22, 192, 152, 0.38);

$status-inactive-color: rgb(223, 4, 4);
$status-inactive-bg-color: rgb(255, 197, 197);

$pagination-color: rgb(64, 75, 82);
$pagination-bg-color: rgb(245, 245, 245);

$font-primary: 'Poppins', sans-serif;

$primary-font-size: 15px;
$secondary-font-size: 14px;
$font-size-small: 12px;

$font-weight-bold: 500;
$font-weight-light: 400;

$primary-line-height: 21px;
$secondary-line-height: 18px;

$version-color: rgb(131, 131, 131);
